<!DOCTYPE html>
<html>
  <head>
    <title>Weather App</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    />
  </head>
  <body>
    <div class="container">
      <h1 style="font-size: 60px; font-weight: bold;">Weather App </h1>
      <form action="/weather" method="get">
        <input type="text" name="city" placeholder="Enter city name" />
        <button type="submit">Get Weather</button>
      </form>

      
      <% if (error) { %>
        <p class="error"><%= error %></p>
        <% } else if (weather) { %>

      <div class="card">
        <p>
          <div id="dme">
            Temperature = <i class="fas fa-thermometer-half"></i> 
            <%=weather.main.temp%>&deg;C
          </div>
        </p>
         <p><i class="fas fa-cloud"></i>
          <%=weather.weather[0].description%>
        </p>

        <p><i class="fas fa-map-marker-alt"></i>
          <%=weather.name%>, <%=weather.sys.country%>
        </p>

        <p>Wind Speed:</i>
          <%=weather.wind.speed%>
        </p>

        <p>Humidity:</i>
          <%=weather.main.humidity%>%
        </p>

        
        <p>Pressure:</i>
          <%=weather.main.pressure%>%
          </p>

        
      </div>
      <% } %> 
    </div>

    
  </body>
</html>
